<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YoupornViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YoupornVieweriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D623736E1BC9148A0034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62373841BC9148A0034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D623738F1BC9148A0034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62373A71BC919830034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62373B71BC919830034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62373C21BC919830034EAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69BCD711BC1B8C500B4B98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69BCD851BC1B8C600B4B98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69BCD901BC1B8C600B4B98C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
